.page {
    width: 100%;
}

.plan__header__wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 48px;
    margin-bottom: 24px;
}

.plan__header__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #032b41;
    border-bottom-right-radius: 16rem;
    border-bottom-left-radius: 16rem;
}

.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.container {
    padding: 40px 0;
    width: 100%;
}

.footer {
    background-color: #f1f6f4;
}

.plan__header {
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
    padding: 0 24px;
}

.plan__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.plan__subtitle {
    font-size: 20px;
    margin-bottom: 32px;
}

.plan__img__wrapper {
    display: flex;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 180px 180px 0 0;
    overflow: hidden;
}

.plan__img {
    width: 100%;
    height: 100%;
}

.plan__features__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    grid-gap: 24px;
    gap: 24px;
    max-width: 800px;
    margin: 0 auto 56px;
}

.sectiontitle {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}

.plan__card {
    display: flex;
    gap: 24px;
    padding: 24px;
    background-color: #f1f6f4;
    border: 4px solid #bac8ce;
    border-radius: 4px;
    cursor: pointer;
    max-width: 680px;
    margin: 0 auto;
}

.plan__card__active {
    border: 4px solid #2be080;
}

.plan__card__seperator {
    font-size: 14px;
    color: #6b757b;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 240px;
    margin: 24px auto;
}

.plan__card__cta {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.feature__icon {
    display: flex;
    justify-content: center;
    color: #032b41;
    margin-bottom: 12px;
}

.icon {
    width: 60px;
    height: 60px;
    color: #032b41;
}

.features__text {
    color: #394547;
    line-height: 1.5;
}

.plan__circle {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__card__dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.plan__content__title {
    font-size: 18px;
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__content__price {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 8px;
}

.plan__content__text {
    color: #6b757b;
    font-size: 14px;
}

.plan__card__seperator:after, .plan__card__seperator:before {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}

.disclaimer {
    font-size: 12px;
    color: #6b757b;
    text-align: center;
}

.btn {
    width: 300px;
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
}

.plan__faq__accordion {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    overflow: hidden;
}

.plan__faq__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 0;
    gap: 8px;
}

.plan__faq__collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.show {
    height: auto;
    transition: max-height 0.35s ease;
}

.show {
  max-height: 300px;
  transition: max-height 0.35s ease;
}

.accordion__title {
    font-weight: 500;
    font-size: 24px;
    position: relative;
    margin-bottom: 0;
    color: #032b41;
    transition: .3s;
}

.accordion__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    transition: transform .3s;
}

.accordion__body {
    min-height: 1px;
    padding-bottom: 24px;
    color: #394547;
    line-height: 1.5;
}

.choose__plan__btn {
    width: 100%;
}

.rotate {
    transform: rotate(180deg);
}

