.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  width: 100%;
  padding: 40px 0;
}

.inner__btn__icon__img {
  height: 24px;
  width: 24px;
  margin-top: 5px;
}

.inner__wrapper {
  display: flex;
  gap: 16px;
}

.inner__book {
  width: 100%;
}

.inner__title {
  font-size: 32px;
}

.inner__author,
.inner__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner__subtitle {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}

.inner__book__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}

.read__btn__wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color 0.2s;
}

.secondary__title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.tags__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.inner__book__description {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}

.inner__author__description {
  color: #032b41;
  line-height: 1.5;
}

.inner__description {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}

.inner__icon {
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.inner__icon__img {
  width: 100%;
  height: 100%;
}

.inner__description__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}

.inner__total__rating {
  margin: 0 8px;
}

.read__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.2s;
  border: none;
  outline: none;
}

.read__btn__icon {
  display: flex;
}

.read__btn__icon__img {
  height: 36px;
  width: 36px;
}

.bookmark__icon {
  display: flex;
  height: 20px;
  width: 20px;
}

.bookmark__icon__img {
  height: 100%;
  width: 100%;
}

.inner__book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.book__img__figure {
    height: 300px;
    width: 300px;
    min-width: 300px;
}

.book__img {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
  .inner__wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .inner__book {
    order: 1;
  }
  .book__img__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .inner__title {
    font-size: 24px;
  }
  .inner__author,
  .inner__author__description,
  .inner__book__description,
  .inner__book__tag {
    font-size: 14px;
  }
  .inner__subtitle {
    font-size: 18px;
  }
  .bookmark {
    font-size: 16px;
  }
}
